@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}

img{
  width:200px;
	height:auto;
}

.container{
  display:flex;
}

header, footer{
  background-color:#1F2937;
}

/*Header Section*/

#header-logo{
  font-size:20px;
	color:#F9FAF8;
}

.head{
  padding-top:30px;
	padding-bottom:50px;
  justify-content:space-around;
}

.nav{
	justify-content:flex-end;
	list-style-type:none;
	gap:20px;
}

header li, .hero p{
  font-size:16px;
  color:#E5E7EB;
}

.hero h1{
  color:#F9FAF8;
	font-weight:extra-bold;
	font-size:44px;
}

.hero{
  padding:40px;
  justify-content:center;
}

.hero-item{
  flex:1 1 auto;
}

.hero-text{
  width:40%;
}

/* Quote Section */
.quote-section{
  text-align:left;
  padding:10vh 20vw 10vh 20vw;
  background-color:#E5E7EB;
  color:#1F2937;
	font-size:26px;
	font-weight:light;
	font-style:italic;
}

.quote-section p{
  text-align:right;
	font-size:20px;
}
