@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}

.container{
  display:flex;
}

header, footer{
  background-color:#1F2937;
}

/*Header Section*/

#header-logo{
  font-size:20px;
	color:#F9FAF8;
}

.head{
  padding-top:30px;
	padding-bottom:20px;
  justify-content:space-around;
}

.nav{
	justify-content:flex-end;
	list-style-type:none;
	gap:20px;
}

header li, .hero p{
  font-size:16px;
  color:#E5E7EB;
}

/*Hero Section*/

.hero h1{
  color:#F9FAF8;
	font-weight:900;
	font-size:44px;
}

.hero{
  padding:40px 25%;
  justify-content:center;
}

.hero-image{
  flex: 1 1 auto;
	width:35%;
}

.hero-image img{
  width:100%;
	height:auto;
}

.hero-text{
  flex: 1 1 auto;
	width:35%;
	margin: 0 20px 0 0;
}

.hero-text input{
  background-color:#3882F6;
	color:#F9FAF8;
	border:2px solid #3882F6;
	border-radius:10%;
	width:25%;
	margin: 10px 0;
}

/*Information Section*/
#info-header{
  font-size: 36px;
	font-weight:900;
	color: #1F2937;
	text-align:center;
	margin: 40px 0;
}

.info{
  justify-content:center;
	margin: 0px 25% 90px 25%;
}

.info-item{
  flex: 1 1 auto;
  margin: 20px;	
}

.info-item img{
  width: 100%;
	height: auto;
}

.info-item p{
  text-align: center;
	font-size: 13px;
	color: #1F2937;
}

/* Quote Section */
.quote-section{
  text-align:left;
  padding:10vh 20vw 10vh 20vw;
  background-color:#E5E7EB;
  color:#1F2937;
	font-size:26px;
	font-weight:400;
	font-style:italic;
}

.quote-section p{
  text-align:right;
	font-size:20px;
}

/* Call to Action Section */

.call-to-action{
  justify-content:center;
	margin:5% 10%;
  padding:40px 100px;
  background-color:#3882F6;
	border-radius:10px;
}

.cta-item{
  flex: 1 1 auto;
}

.cta-item.text{
  width: 75%;
	font-weight:900;
	color:#FAF9F8;
}

.cta-item.button input{ 
  font-size: 20px;
	font-weight: 900;
	padding: 5px 20px;
  background-color:#3882F6;
  color:#FAF9F8;
	border:2px solid #FAF9F8;
	border-radius: 10px;
	text-align:center;
}

/* Copyright Section */

footer p{
  text-align: center;
	font-size: 20px;
	padding: 50px 0;
	color:#F9FAF8;
}


