*{
  margin:0px;
	padding:0px;
}

img{
  width:200px;
	height:auto;
}

header, footer{
  background-color:#1F2937;
}

#header-logo{
  font-size:20px;
	color:#F9FAF8;
}

.head-container{
  padding-top:30px;
	padding-bottom:50px;
  display:flex;
  justify-content:space-around;
}

.nav-container{
  display:flex;
	justify-content:flex-end;
	list-style-type:none;
	gap:20px;
}

header li, .hero-container p{
  font-size:16px;
  color:#E5E7EB;
}

.hero-container h1{
  color:#F9FAF8;
	font-weight:extra-bold;
	font-size:44px;
}

.hero-container{
  padding:40px;
  display:flex;
  justify-content:center;
}

.hero-item{
  flex:1 1 auto;
}

.hero-text{
  width:40%;
}

.quote-section{
  text-align:left;
  padding:10vh 20vw 10vh 20vw;
  background-color:#E5E7EB;
  color:#1F2937;
	font-size:26px;
	font-weight:light;
	font-style:italic;
}

.quote-section p{
  float:right;
	font-size:20px;
}
